# ======================
# VIRTUAL ENVIRONMENTS
# ======================
venv/
.env/
.venv/

# ======================
# PYTHON CACHE / COMPILED FILES
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# IDE / EDITOR SETTINGS
# ======================
.vscode/
.idea/

# ======================
# PROJECT MEDIA / OUTPUT
# ======================
videos/
*.mp3
*.wav
*.mp4
*.mkv

# ======================
# ENVIRONMENT CONFIG FILES
# ======================
.env.local
.env.development
.env.production

# ======================
# LOG FILES / DEBUG FILES
# ======================
yt_downloader.egg-info/